.header__nav{
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 10;
  width: 100%;
  border-bottom: 1px solid #E9E9E9;
  border-top: 1px solid #E9E9E9;
  background-color: #fff;
  transition: transform 0.3s ease-in-out;
}

.header__nav.hidden{
  transform: translateY(-100%); 
}

.header__nav-list{
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
  
.menu-item{
  display: flex;
  align-items: center;
  position: relative;
  padding: 1.25rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: #000;
  cursor: pointer;
}

.menu-item img{
  width: 0.5rem;
  height: 0.25rem;
  margin-left: 0.3125rem;
}
  
.dropdown{
  position: absolute;
  left: 0; 
  top: 100%;
  z-index: 1;
  min-width: 160px; 
  padding: 1.25rem;
  background-color: #f9f9f9;
  transition: opacity 0.5s, max-height 0.5s ease-in-out, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  list-style: none;
}

.dropdown li{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0;
  font-size: 0.8125rem;
  color: #000;
}

.dropdown li .arrow{
  transform: rotate(-90deg);
}

.menu-item:hover .dropdown{
  display: block;
  opacity: 1;
  visibility: visible;
}

.dropdown li:hover{
  color: #969696;
  padding-left: 0.5rem;
}

.burger-menu{
  display: none; 
  cursor: pointer;
}

.overlay{
  visibility: hidden;
}
@media (max-width: 768px) {
  .header__nav{
    border: none;
  }

  .header__nav.hidden{
    transform: translateY(0);
  }

  .burger-menu{
    display: block;
    position: absolute;
    top: -3rem;
    left: 1.25rem;
  }

  .burger-menu{
    height: 1rem;
  }

  .burger-menu__logo{
    height: 1.5rem;
  }
  
  .menu-item{
    padding: 1rem 1.25rem;
    border-bottom: 1px solid #E9E9E9;
  }
  .menu-item:last-child{
    border-bottom: none;
  }

  .overlay{
    visibility: visible;
    padding: 2rem 1.25rem 1.625rem;
    margin-bottom: 0.875rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E9E9E9;
  }

  .header__nav-list{
    position: fixed;
    left: -100vw; 
    top: 0;
    height: 100%;
    width: 80vw; 
    background-color: #fff; 
    transition: left 0.3s ease; 
    z-index: 10;
    flex-direction: column; 
    border-right: 1px solid #E9E9E9
  }

  .header__nav-list.active{
    left: 0; 
  }
}
  
